<div class="p-3 footerStyle" data-bs-theme="dark">
    <!-- All links in footer inside this div -->
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Website Built By</span>
                        <h5>Asbjørn Knudsen</h5>
                    </div>
                    <div class="col-12">
                        &copy; 2025 Knudsen Koder A/S
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">
                    Data leveret af 
                    <a href="https://www.themoviedb.org/" class="text-primary fw-bold" target="_blank">TMDB</a>
                </div>
            </div>

            <div class="col text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.linkedin.com/in/asbj%C3%B8rn-knudsen/"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/asbjorn-dev"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
